.home-sect{
    width:40%;
    height:30%;
    background-color: #fff;
    margin: auto;
    border-radius: 10px;
}

.home-sect2{
    width:40%;
    /* height:30%; */
    background-color: #fff;
    margin: auto;
    border-radius: 10px;
}